module {{MODULE_PATH}}

go 1.25

require (
	// Foundation modules
	github.com/nmxmxh/ovasabi_foundation/config-contracts/go v0.0.0
	github.com/nmxmxh/ovasabi_foundation/runtime-transport/go v0.0.0
	github.com/nmxmxh/ovasabi_foundation/server-kit/go v0.0.0

	// Core dependencies
	github.com/google/uuid v1.6.0
	github.com/gorilla/websocket v1.5.3
	github.com/jackc/pgx/v5 v5.9.1
	github.com/lib/pq v1.10.9
	github.com/redis/go-redis/v9 v9.17.2

	// River job queue
	github.com/riverqueue/river v0.35.0
	github.com/riverqueue/river/riverdriver/riverpgxv5 v0.35.0

	// Test dependencies
	github.com/pashagolub/pgxmock/v4 v4.4.0
	github.com/stretchr/testify v1.11.1
)

replace github.com/nmxmxh/ovasabi_foundation/config-contracts/go => ./foundation/config-contracts/go

replace github.com/nmxmxh/ovasabi_foundation/runtime-transport/go => ./foundation/runtime-transport/go

replace github.com/nmxmxh/ovasabi_foundation/server-kit/go => ./foundation/server-kit/go
